
body{
    background-color: #f3f3f3;
}
.logo{
    width: 100px;
}
.main{
    background: #fff;
    width: 730px;
    overflow: hidden;
    margin: 0 auto;
    padding: 10px;/*上下的内边距10px*/
}
.page-title{
    text-align: center;
}